@import '../common/styles/mixins';
@import '../common/styles/fonts';
@import '../common/styles/variables';
.footer {
  @include footer($primary-color);
  &-custom {
    @include footer($secondary-color);
  }
}
.footer a {
  @include footerLink($main-text-color);
}
.footer-custom a {
  @include footerLink($primary-color);
}
.footer a:hover,
.footer-custom a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .footer {
    @include flex(flex-start, initial, column);
  }
  .footer-custom {
    @include flex(flex-start, initial, column);
    background-color: $secondary-color;
  }
  .footer a {
    margin: 5px;
  }
  .footer-custom a{
    margin: 5px;
  }
}
