@import '../../components/common/styles/variables';
@import '../../components/common/styles/fonts';
@import '../../components/common/styles/mixins';

.home-page {
  background-color: $primary-color;
}
.main {
  @include widthAndHeight(auto, 200px);
  @include flex(center, center, column);
  .main__title {
    color: $main-text-color;
    font-size: 25px;
  }
  .input {
    width: 50%;
    @include input(transparent, $main-text-color, 25px, $secondary-color, 40px);
  }
  ::placeholder {
    color: $main-text-color;
  }
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 0px 30px;
  position: relative;
  .carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
  }
}

::-webkit-scrollbar {
  @include widthAndHeight(5px, 5px);
  background-color: $primary-color;
}
::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
}
